body {
    font-family: 'Trebuchet MS', Helvetica , Arial, sans-serif;
    background: url(../imagens/bg.png);
}

/*
--------------- Começo Cabeçalho ------------
*/
#cabecalho{ 
    border: 1px solid rgb(255, 255, 255);
    width: 95%;
    height: 270px;
    margin: auto;
}

/* ---- Navegação Vertical -----*/

#cabecalho>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 62%;
    margin-top: 6%;
}

#cabecalho>ul a {
    width: 20%;
    height: 33px;
    display: block;                                    
    color:rgb(129, 121, 74);
    text-decoration: none;
    text-indent: 20px;                                  
    line-height: 40px;  
    padding: 0;  
    font-size: 13.3px;  
    position: relative; 
    z-index: 2;  
    background: rgb(223, 211, 146);   
    margin-left: 2%;  
}

#cabecalho > ul > li a:hover {
    background: rgb(129, 121, 74);                
    color: whitesmoke;
    width: 130px;
    height: 33px;
    display: block; 
}

/* ---- Fim Navegação Vertical ----- */

#reserva {
    position: absolute;
    font-size: 11.5px;
    margin-left: 63%;
    margin-top: -225px;
    border-top: 1px solid rgb(187, 178, 108);
    border-bottom: 1px solid rgb(187, 178, 108);
    padding: 15px 12px;
    text-indent: 0px;
    width: 28%;
    color: rgb(129, 121, 74);
    z-index: 3;  
}

#reserva a {
    border: 1px solid rgb(169, 159, 83);
    padding: 10px 20px;
    margin-left: 8%;
    text-decoration: none;
    font-size: 15px;
    line-height: 5px;
    text-indent: 5px;
    position: absolute;
    margin-top: -1.8%;
    background-color: rgb(169, 159, 83);
    color: #fff;
}


img#img_1{
    position: absolute;
    margin-left: 52.5%;
    z-index: 1;
    width: 42%;
    height: 270px;
}

img#img_2{
    position: absolute;
    margin-left: 73%;
    margin-top: 6.4%;
    z-index: 2;
    width: 226px;
    height: 27.5%;
}

img#img_3{
    position: absolute;
    width: 798px;
    height: 270px;
}

img#img_4{
    position: absolute;
    width: 151px;
    height: 66px;
    margin-left: 15px;
    margin-top: 17px;
}

/*
--------------- Fim Cabeçalho ------------
*/

/*
--------------- Começo Body ------------
*/

#body {
    border: 1px solid rgb(239, 233, 203);
    width: 95%;
    height: 30em;
    margin: auto;
    background:rgb(239, 233, 203) url(../imagens/bg-area-principal.png) repeat-x;
}

/* ------ Conteudo esquerdo ----- */

#conteudo {
    border: 1px solid rgb(239, 233, 203);
    width: 50%;
    height: 90%;
    margin: 1.65%;
}

#conteudo h3 {
    color: rgb(132, 122, 65);
}

/* ----------------------------*/

/* ------ Conteudo direito ----- */

#descrição{
    width: 45%;
    height: 77.5%;
    margin: 1.65%;
    position: absolute;
    margin-left: 49.5%;
    margin-top: -29.6em;
    background: rgb(219, 216, 182) url(../imagens/bg-area-lateral.png) repeat-x;
}

#conteudo_2 {
    border: 1px solid rgb(219, 216, 182);
    width: 92%;
    height: 220px;
    margin: 1.65%;
    margin-top: 45px;
}

#spot {
    font-size: 13px;
    margin-left: 140px;
}

#spot hr {
    width: 120%;
    margin-left: -110px;
    margin-top: 35px;
}

#spot h3 {
    color: rgb(132, 122, 65);
}

img#img_5{
    position: absolute;
    width: 22.5%;
    height: 82.4px;
    margin-left: -137px;
    margin-top: -2px;
}